/* Master Styles */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Pacifico&family=Poppins&display=swap');

body{
    background-image: url(/image/the\ dark.jpg);
    background-size: cover;
    width:100%;
    margin: 0;
    font-family: 'poppins';
}

/* Nav Styles */
.nav-wrapper{
    padding:30px;
}

.left-side{
    display: flex;
}

.active-nav-link a{
    border-bottom: 2px solid white !important;
}

.nav-wrapper > .left-side > div {
    margin:20px;
    font-size: 0.9em;
}

.nav-link-wrapper a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

.nav-link-wrapper a:hover{
    background-color: #66caff;
    color:black
}

/* About Page */
.content-wrapper{
    width: 100%;
    display: grid;
}
.two-column-wrapper{
    display:flex;
    justify-content: space-between;

}

.mobile img{
    display: none;
}


.profile-image-wrapper img{
    width:80%;
    margin-left: 40px;
    border-radius: 340px;
    box-shadow: 3px 2px 5px 2px;
}

.profile-image-wrapper img:hover{
    position: relative;
    bottom:5px;
}

.profile-content-wrapper{
    margin-left:40px;
    margin-right: 40px;
    line-height: 30px;
    text-align: justify;
    color: white;
    font-size: medium;
}

.profile-content-wrapper h1{
    color:white;
    font-size: x-large;
    text-transform: uppercase;
}


@media screen and (max-width: 1000px){
    body{
        font-size: medium;
        background-image: url(/image/the\ dark.jpg);
        background-size: auto;
        background-position: top;
    }

    .two-column-wrapper{
        display:block;
        text-align: justify;
    }
    
    .nav-wrapper{
        padding: 0;
    }

    .mobile img{
        display: block;
        width:100%;
        margin-top: 20px;
        margin-left: -10px;
        border-radius: 150px;
    }
    
    .mobile{
        padding: -50px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    .profile-content-wrapper{
        font-size: medium;
        margin: 20px;
    }

    .profile-image-wrapper img{
        display: none;
}