  @import url('https://fonts.googleapis.com/css2?family=Abel&family=Pacifico&family=Poppins&display=swap');

html{
    --buttoncolor: blue;
     --background: lightgrey;
}

body{
    font-family: "poppins";
    background-image: url(/image/Sky.jpg);
    background-size: cover;
    color: black;
}

/* MAIN BODY */

/* NAV STYLING */
.nav{
  display: flex; 
  align-items: center ;
  padding: 20px;
}

.nav .navlinks{
    margin-left: auto;    
}

.navlinks ul{
    /* margin-left: 200px; */
}

.navlinks li{
    display: inline-block;
    margin-left: 50px;
    cursor: pointer;
}

.navlinks li a{
    color: black;
}

.nav-button{
    margin-left: 20px;
    background-color: dimgray;
    padding: 8px 30px;
    border: none;
    font-size: 1.2rem;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.barIcon{
    display: none;
}

.closeBar{
    display: none;
}

/* SECTION1 STYLING */
.section1{
    display: flex;
    gap: 80px;
    margin-top: 10px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
}

.section1 a{
    color: var(--buttoncolor);
    border: 1px solid var(--buttoncolor);
    padding: 2px 25px;
    border-radius: 20px;
    text-decoration: none;
}

.section1 a:hover,
.section2 a:hover{
    background-color: #1b1bff;
    color: white;
}

.section1 .collectibles{
    color: var(--buttoncolor) ;
    font-size: 1.9rem;
}

.section1 p:first-of-type{
    font-size: 2rem;
}

.section1 p:last-of-type{
    font-size: 1.1rem;
}

.section-img-container img{
    width:80%;
    margin-left: 6%;
}

.section-img-container {
    margin-right: 10px;
    border: 1px solid blue;
    padding: 10px 20px 10px 30px;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.9);
}


.section-img-container a{
    font-size: 12px;
    background-color: blue;
    color: white;
    padding: 3px 10px 3px 10px;
    border-radius: 30px;
    border: none;
}

/* SECTION2 STYLING */
.section2{
    margin-left:20px;
    margin-top: 40px;
    position: relative;
}


.section2-body{
    display: flex;
    justify-content: space-between;
}

.section2 a{
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 2px 50px;
    background-color: #1b1bff;
    padding: 10px 46px 10px 46px;
}

.popular{
    margin-top: 70px;
}

.section2Header{
    display: flex;
    overflow: scroll;
    justify-content: center;
    scroll-behavior: smooth;
}

.section2card{
    min-width: 280px;
    /* width: 18%; */
    /* height: 300px; */
}

.section2Header::-webkit-scrollbar{
    display: none;
}

/* SECTION3 STYLING */
.section3Header{
    display: flex;
    justify-content: space-evenly;
}


/* SECTION4 STYLING */
.section4{
    max-width: 1440px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}

.section4Header{
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 40px;
    padding: 20px 15px;
    background-image: linear-gradient(to right, lightblue, transparent );
}

.section4creators{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.section4creator{
    width: 180px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: lightskyblue;
    padding: 10px 30px;
    border-radius: 10px;
}

.section4creator img{
    width: 80px;
    height: 80px;
    margin-left: -20px;
}

.section5{
    background-image: linear-gradient(to top , transparent, lightblue);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    padding: 20px 10px;
    color: black;
}

.section5Header{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

.section5Header a{
    margin-right: 25px;
    margin-top: 20px;
    color: darkblue;
}

.enclosed{
    line-height: 5px;
}

.footer{
    line-height: 5px;
    text-align: center;
    color: white;
}


/* NFT CONTAINER STYLING */
.NFT-container{
    display: flex;
    justify-content: space-between;
}

.NFT-name{
    font-size: 15px;
    font-weight: bold;
}

.NFT-pricetag{
    font-size: 13.5px;
    color: black;
    margin-top: 10px;
}

.NFT-container a{
    font-size: 12px;
    background-color: blue;
    color: white;
    padding: 3px 10px 3px 10px;
    border-radius: 30px;
    border: none;
}


.NFT-categories{
    display: flex;
    flex-wrap: wrap;
}

.image-categories{
    display: grid;
    grid-template-columns: repeat(2, 200px) ;
}

.image-categories img{
    width: 60%;
}

/* ME-NFT STYLING */
.creator{
    display: flex;
    justify-content: space-between;
    width: 50px;
    left: 40%;
}

.shift{
    margin-right: -80%;
    margin-top: 30%;
}

.footer{
    text-align: justify;
    line-height: 30px;
    font-size: larger;
    color: white;
    padding: 30px;
    background-image: url(/image/under-water.jpg);
    background-position: center;
}

.footer a{
    color: white;
    text-decoration: none;
    background-color: #1b1bff;
    padding: 10px 30px;
    border-radius: 20px;
}

.endnote h3{
    color: orange;
}

.footer-img{
    margin-left: 50px;
    display: flex;
}

.lupine{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:800px) {
    body{
        font-family: "poppins";
        background-image: url(/image/Sky\ Blur.jpg);
        background-size: auto;
        background-position: left;
        color: white;
        width: fit-content;
    }
    
    .title{
        margin-left: auto;
    }

    .barIcon{
        display: block;
        margin-top: -100px;
        font-size: xx-large;
        cursor: pointer;
    }

    .closeBar{
        display: block;
        font-size: xx-large;
        position: absolute;
        top: 30px;
        right: 25px;
        cursor: pointer;
    }

    .navlinks{
        padding-top: 10%;
        position: absolute;
        top: 0;
        width: 60%;
        right: 100%;
        height: 60%;
        z-index: 1;
        background-image: url(/image/the\ dark.jpg);
        background-position: top;
        transition: 0.5s ease;
    }

    .navlinkShow{
        right: 40%;
    }

    .nav ul li{
        padding-top: 15px;
        display: block;
        font-size: x-large;
        margin-left: auto;
        margin-bottom: 10px
    }

    .nav-button{
        background-color: #1b1bff;
        font-size: x-large;
        margin-top: 20px;
        margin-right: 120px;
        margin-left: 0;
    }

    .nav ul li a{
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

    .bi-caret-left-fill{
        display: none;
    }

    .bi-caret-right-fill{
        display: none;
    }

    .formobileonly{
        display: none;
    }
    

    /* .nav .navlinks{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: #1b1bff;
    } */


    .section1{
        flex-direction: column;
        gap: 10px;
    }

    
    .section1 p:last-of-type{
        font-size: larger;
    }
    
    .section2Header,
    .section3Header{
        /* overflow: hidden; */
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .section-img-container{
        margin-top: 30px;
        width:180px;
        color: black;
    }

    .section-img-container:hover{
        position: relative;
        bottom: 5px;
    }

    .section1 a{
        background-color: #1b1bff;
        color: white;
    }

    .section1 .collectibles{
        color:lightskyblue;
        text-shadow: 2px 2px black;
    }

    .section2-body h2{
        font-size: x-large;
    }

    .section2-body p{
        font-size: larger;
    }
    
    .section2-body{
        flex-direction: column;
    }

    .section2-body a{
        text-align: center;
    }

    .section4Header{
        color: black;
    }

    .section4creators{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .popular{
        margin-top: 10px;
    }

    .NFT-categories{
        margin-left: 80px;
    }

    .footer{
        text-align: justify;
        line-height: 30px;
        font-size: larger;
        color: white;
    }

    .lupine{
        flex-direction: column;
    }
    
    .footer-img {
        margin-left: 10px;
    }

    .wolf{
        width: 50%;
    }


}



